@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: ##212121;
  font-size: 16px; /* Basis-Schriftgröße für Desktop */
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0a0a0a;
  --foreground: ##212121;
  font-size: 16px; /* Schriftgröße für Dark Mode */
  }
}

body {
  color: var(--foreground);
  {/*background: var(--background);*/}
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 9vw; /* 2 mal die Basis-Schriftgröße (32px) */
}

h2 {
  font-size: 3vw; /* 1.8 mal die Basis-Schriftgröße (28px) */
}

h3 {
  font-size: 2vw; /* 1 mal die Basis-Schriftgröße (16px) */
}

p {
  font-size: 1rem; /* 1 mal die Basis-Schriftgröße (16px) */
}

/* Responsives Design: Schriftgrößen anpassen */
@media (max-width: 1200px) {
  :root {
    font-size: 15px; /* Kleinere Basisgröße für größere Tablets */
  }

  h1 {
    font-size: 9vw; /* Kleinere Schrift für h1 */
  }

  h2 {
    font-size: 4vw; /* Kleinere Schrift für h2 */
    ;
  }

  h3 {
    font-size: 3vw; /* Kleinere Schrift für h3 */
  }

  p {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px; /* Kleinere Basisgröße für mobile Geräte */
  }

  h1 {
    font-size: 9vw; /* Noch kleinere Schrift für h1 */
  }

  h2 {
    font-size: 5vw; /* Noch kleinere Schrift für h2 */
  }

  h3 {
    font-size: 4vw; /* Noch kleinere Schrift für h3 */
  }

  p {
    font-size: 0.9rem;
  }
}